<tr id="h1_th" valign="top">
    <td id="h1_th">
        <div><a href="{{ url_for('topic',t=post.topic.id) }}">{{ post.topic.name }}</a></div>
        <div><a href="{{ url_for('user',username=post.topic.author.username) }}">{{ post.topic.author.username }}</a></div>
    </td>
    <td id="h1_th">
        <div>{{ post.body }}</div>
        <div>{{ post.timestamp }}
             __ <a href="{{ url_for('new_post', t=post.topic.id, p=post.id) }}">Коментировать</a>
            {% if current_user == post.author %}
             __ <a href="{{ url_for('edit_post', p=post.id) }}">Редактировать</a>
            {% endif %}
        </div>
    </td>
    {% if current_user == user %}
        <td id="h1_th"><div>{{ post.active }}</div></td>
    {% endif %}
</tr>
