{% extends 'base.html' %}
{% block content %}
    <div style="padding-top: 100px"></div>
    <div id="login">
    <h2>Во время регистрации через {{ provider }} мы не смогли обнаружить ваш email.</h2>
    <h2>Заполните форму ниже:</h2>
    <form action="" method="post" >
        {{ form.hidden_tag() }}
        <div class="form-field">{{ form.email.label }} {{ form.email(size=20) }}
        {% if form.email.errors %}
            <ul class="errors">
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
