{% extends 'base.html' %}
{% block content %}
    <h1>Friends posts:</h1>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th"></th>
            <th id="h1_th">Tema</th>
            <th id="h1_th">Posts</th>
        </tr>
        {% if posts %}
        {% for post in posts %}
            <tr id="h1_th" valign="top">
                <td id="h1_th">
                    <div><b><a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}</a></b></div>
                     <div><img src="{{ post.author.avatar(45) }}"></div></td>
                <td id="h1_th">
                    <div><a href="{{ url_for('topic',t=post.topic.id) }}">{{ post.topic.name }}</a></div>
                    <div><a href="{{ url_for('user',username=post.topic.author.username) }}">
                        {{ post.topic.author.username }}</a></div>
                </td>
                <td id="h1_th">
                    <div>{{ post.body }}</div>
                    <div>{{ post.timestamp }}
                         __ <a href="{{ url_for('new_post', t=post.topic.id, p=post.id) }}">Repost</a>
                        {% if current_user == post.author %}
                         __ <a href="{{ url_for('edit_post', p=post.id) }}">Edit</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
        {% endif %}
        {% include '_prev_next_page.html' %}
{% endblock %}