{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <div style="padding-top: 100px"></div>
    <div id="login">
        <h1>Sign In:</h1>
        <div class="row" >
            <div class="col-md-4" style="width:80%; left: 10%;">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div style="padding-top: 10px"></div>
        <div id="social">
            <p style="color:black">быстрая авторизация через соцсети</p>
            <a href="{{ url_for('oauth_authorize',provider='facebook')}}">
                <img src="../static/facebook.png" width="48" height="48"></a>
            <a href="{{ url_for('oauth_authorize',provider='vk')}}">
                <img src="../static/vkontakte.png" width="48" height="48"></a>
            <a href="{{ url_for('oauth_authorize',provider='ok')}}">
                <img src="../static/odnoklassniki.png" width="48" height="48"></a>
        </div>
        <p><a href="{{ url_for('reset_password_request') }}" style="color:white;">Forgot Password?</a></p>
        <p>New User? <a href="{{ url_for('register') }} " style="color: #b2badb;">Click to Register!</a></p>
        </div>
        <div>
    </div>
{% endblock %}
