{% extends 'base.html' %}
{% block app_content %}
    <h1>{{ topic.name }}:</h1>
    <hr>
    {% if repost %}
        <h3>Ответ на  -- {{ repost }}</h3>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}:<br>
            {{ form.body(cols=50,rols=4) }}<br>
			{% for error in form.body.errors %}
            	<span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
