{% extends 'base.html' %}
{% block app_content %}
    <h1>Курсы валют:</h1>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th"></th>
            <th id="h1_th">Валютная пара</th>
            <th id="h1_th">Покупка</th>
            <th id="h1_th">Продажа</th>
        </tr>
        {% if pairs %}
        {% for pair in pairs %}
            <tr id="h1_th" valign="top">
                <td id="h1_th" style="width:50px "><img src={{"../static/{}.png".format(pair.currency_pair[:3].lower())}} width="32" height="32"></td>
                <td id="h1_th"><div>{{ pair.currency_pair }}</td>
                <td id="h1_th">
                    <div>{{ pair.buy }}
                        <span style="color:blue;float:right">{{ pair.delta_buy }}</span></div>
                </td>
                <td id="h1_th">
                    <div>{{ pair.sale }}
                        <span style="color:blue;float:right">{{ pair.delta_sale }}</span></div>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
<h3>Data from PrivatBank. Last update - {{ moment(pairs[0].timestamp).calendar() }}.</h3>
<button><a href="{{url_for('rates',pull=1) }}">Обновить</a></button>
{% endblock %}