{% extends 'base.html' %}
{% block content %}
    <h1>Курсы валют:</h1>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th"></th>
            <th id="h1_th">Валютная пара</th>
            <th id="h1_th">Покупка</th>
            <th id="h1_th">Продажа</th>
        </tr>
        {% if pairs %}
        {% for pair in pairs %}
            <tr id="h1_th" valign="top">
                <td id="h1_th">
                </td>
                <td id="h1_th">{{ pair.currency_pair }}</td>
                <td id="h1_th">{{ pair.buy }}</td>
                <td id="h1_th">{{ pair.sale }}</td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
<h3>По данным PrivatBank на {{ pairs[0].timestamp}}</h3>
<button><a href="{{url_for('rates',pull=1) }}">Обновить</a></button>
{% endblock %}