{% extends 'base.html' %}
{% block content %}
    <table>
        <tr valign="top">
            <td><img style="padding-top: 25px;" src="{{ user.avatar(128) }}"></td>
            <td style="padding-left: 10px;">
                <h1>User: {{ user.username }}</h1>
                <p>About me: {% if user.about_me %} {{ user.about_me }}{% endif %}</p>
                <p>Last seen: {% if user.last_seen %}{{ user.last_seen }}{% endif %}</p>
                <p>{{ user.followers.count() }} Подписчиков, {{ user.followed.count() }} Подписок</p>
                {% if current_user == user %}
                    <p><a href="{{ url_for('edit_profile', username=current_user.username) }}">Edit Profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}

            </td>
        </tr>
    </table>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th">Theme</th>
            <th id="h1_th">Post</th>
            {% if current_user == user %}
                <th id="h1_th">Active</th>
            {% endif %}
        </tr>
    {% for post in posts %}
        {% include '_user_post.html' %}
    {% endfor %}
    </table>
    {% include '_prev_next_page.html' %}
{% endblock %}
