{% extends 'base.html' %}
{% block app_content %}
    <table>
        <tr valign="top">
            <td><img style="padding-top: 25px;" src="{{ user.avatar(128) }}"></td>
            <td style="padding-left: 10px;">
                <h1>User: {{ user.username }}</h1>
                <p>Немного о себе: {% if user.about_me %} {{ user.about_me }}{% endif %}</p>
                <p>Был здесь: {% if user.last_seen %}{{ moment(user.last_seen).format('LLL') }}{% endif %}</p>
                <p>{{ user.followers.count() }} Подписчиков, {{ user.followed.count() }} Подписки</p>
                {% if current_user == user %}
                    <p><a href="{{ url_for('edit_profile', username=current_user.username) }}">Редактировать профиль</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">Подписаться</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">Отписаться</a></p>
                {% endif %}

            </td>
        </tr>
    </table>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th">Тема</th>
            <th id="h1_th">Пост</th>
            {% if current_user == user %}
                <th id="h1_th">Активный</th>
            {% endif %}
        </tr>
    {% for post in posts %}
        {% include '_user_post.html' %}
    {% endfor %}
    </table>
    {% include '_prev_next_page.html' %}
{% endblock %}
