{% extends 'base.html' %}
{% block content %}
    <h1>Прогноз погоды - {{ weathers[0]['city_name'] }}:</h1>
    <hr>
    <table class="h1_tab">
        <tr>
            <th id="h1_th"></th>
            <th id="h1_th">Время</th>
            <th id="h1_th">Температура</th>
            <th id="h1_th">По ощущению</th>
            <th id="h1_th">Скорость ветра,м/с</th>
            <th id="h1_th">Описание</th>
            <th id="h1_th">Осадки,мм</th>
        </tr>
        {% if weathers %}
        {% for weather in weathers%}
            <tr id="h1_th" valign="top">
                <td id="h1_th" style="text-align: center; padding-top :10px" ><img src={{weather['icon_url']}}></td>
                <td id="h1_th">{{ weather['time'] }}</td>
                <td id="h1_th">{{ weather['temp'] }} </td>
                <td id="h1_th">{{ weather['feels_like'] }} </td>
                <td id="h1_th">{{ weather['wind_spd']}}</td>
                <td id="h1_th">{{ weather['description']}}</td>
                {% if weather['snow'] %}
                    <td id="h1_th">Снег {{ weather['snow']}}</td>
                {% elif weather['rain'] %}
                    <td id="h1_th">Дождь {{ weather['rain']}}</td>
                {% else %}
                    <td id="h1_th">Без осадков</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% endif %}

    </table>
<h4>По данным cайта <a href="https://openweathermap.org/">https://openweathermap.org/</a></h4>
<button><a href="{{url_for('weather',pull=1) }}">Обновить</a></button>
{% endblock %}